<section class="hero-section">
    <div class="mobile-image-wrapper">
        <img src="/images/My picture enhanced full_450.jpg" alt="Photo of Zachary Thallas at a conference"
            class="mobile-image">
    </div>
    <img src="/images/My picture enhanced grayscale.png" alt="Background photo of Zachary Thallas" class="hero-image">
    <article class="hero-content">
        <h1 class="hero-title">Front-End Web Developement</h1>
        <p>I'm Zachary Thallas, a self-taught web developer who is passionate about quality over quantity. My mission is
            clear: to
            provide the best web development services for you. Whether you're a small business owner, a creative
            individual, or a
            growing startup, I'm here to turn your web dreams into reality.</p>

        <h2>What I Offer</h2>

        <p>My focus is on content-driven web design, telling your unique story through your website. I'm not just about
            creating
            websites; I'm about crafting web experiences that resonate with your audience, align with your brand, and
            drive
            results. Let's work together to create something exceptional.</p>

        <p>Ready to get started? Explore my work and projects to see what I can do for you.</p>
        <a class="cta-btn" href="/my-projects.html">Explore My Work</a>
    </article>
</section>
<section class="about-me parallax">
    <div class="content-container margin">
        <h2 class="section-title">My Journey</h2>
        <p class="section-content">
            I was born in the heart of Denver, Colorado, and my childhood was marked by a constant dance between the
            Rockies and the
            serene beauty of South Dakota. Throughout my early years, I often found myself forging connections with the
            world,
            embracing solitude, and diving into a world of technology and computers. The intricacies of computers and
            their innerworkings fueled a
            lifelong fascination; one that has continued to shape my path.
        </p>
        <p class="section-content">
            As I navigated through life, my interests led me on a diverse journey, from one project to another, seeking
            the next
            spark of inspiration in an ever-changing world of fascination and inquisition. The turning point came when I
            discovered the world of web development. A
            growing fascination for design and the inner workings of the web unveiled a profound passion. The web, I
            realized, is an
            arena where creativity knows no bounds, and every project is a canvas for uniqueness to flourish.
        </p>
        <p class="section-content">
            Driven by a thirst for knowledge, I've cultivated a well-rounded approach to deliver top-notch web
            solutions, committed
            to crafting an experience tailored to the needs of those who would desire my services. My mission is simple:
            to offer a stress-free and transparent web
            development journey, centered on a personalized approach with quality at it's core.
        </p>
        <h2>Beyond Web Development</h2>
        <p class="section-content">
            When I'm not knee-deep in code or crafting web experiences, you'll find me relishing life's simple
            pleasures. My diverse interests span from crafting crocheted wonders and artful creations to indulging in
            captivating
            movies, engrossing books, and exploring the world around me. These pursuits enhance my creativity and foster
            sharp
            problem-solving skills, which I utilize in every aspect of my day to day life.
        </p>
        <p class="section-content">
            Curious to learn more about me? Feel free to keep reading or reach out for a chat about the exciting project
            you have in
            mind. Let's explore the possibilities together.
        </p>
        <a class="primary-btn" href="/about-me.html">More About Me</a>
    </div>
</section>